<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fresh Goods - Customers</title>
    <script src="/customer.js" charset="utf-8" defer></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class = "background-wrap">
    <!-- header -->
    <div class="image-container">
        <img src="header.png" alt="Fresh Goods" width="1200">
    </div>
    <div class = "title-tabs-container">
        <h1 class="title">Company Database</h1>
        <nav class="navbar">
            <ul class="navlist">
                <li class="navitem"><a href="/">Home</a></li>
                <li class="navitem"><a href="/customer">Manage Customers</a></li>
                <li class="navitem"><a href="/goods">Manage Goods</a></li>
                <li class="navitem"><a href="/orders">Manage Orders</a></li>
                <li class="navitem"><a href="/suppliers">Manage Suppliers</a></li>
                <li class="navitem"><a href="/suppliers-goods">Manage Suppliers-Goods</a></li>
            </ul>
        </nav>
    </div>

    <h1 class="table-header">Customers</h1>

    <!-- insert & Update -->
    <div class = "contents">
        <aside class = "entity-field-container">

            <h2>Insert row</h2>

            <div class = "entity-input-container">
                <label for = "entity-amount-spent-input">Amount Spent</label>
                <div class = "entity-input-element">
                    <input type="number" id="entity-amount-spent-text" class="entity-amount-spent-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-first-name-input">First Name</label>
                <div class = "entity-input-element">
                    <input type="text" id="entity-first-name-text" class="entity-first-name-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-last-name-input">Last Name</label>
                <div class = "entity-input-element">
                    <input type="text" id="entity-last-name-text" class="entity-last-name-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-dob-input">Date of Birth</label>
                <div class = "entity-input-element">
                    <input type="date" id="entity-dob-text" class="entity-dob-input">
                </div>
            </div>

            <button id="entity-add-button">Add</button>

            <h2>Update row</h2>

            <div class = "entity-input-container">
                <label for = "entity-update-prompt">Enter ID to update</label>
                <div class = "entity-update-element">
                    <input type = "number" id = "entity-update-number" class = "entity-update-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-amount-spent-input">New Amount Spent</label>
                <div class = "entity-input-element">
                    <input type="number" id="entity-amount-spent-text" class="entity-amount-spent-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-first-name-input">New First Name</label>
                <div class = "entity-input-element">
                    <input type="text" id="entity-first-name-text" class="entity-first-name-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-last-name-input">New Last Name</label>
                <div class = "entity-input-element">
                    <input type="text" id="entity-last-name-text" class="entity-last-name-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-dob-input">New Date of Birth</label>
                <div class = "entity-input-element">
                    <input type="date" id="entity-dob-text" class="entity-dob-input">
                </div>
            </div>

            <button id="entity-update-button">Update</button>
        </aside>

        <div class = "entity-table-container">

            <!-- filter -->

            <aside class="filter">
                <div class="filter-field-container">
                    <label for="entity-filter-input" class="filter-text-input">Match Filter</label>
                    <input type="text" id="entity-filter-input">
                </div>
                <div class="entity-input-container">
                    <select name="filter-dropdown" id="filter-dropdown-customers" class="filter-dropdown">
                        <option value="customer-id">ID</option>
                        <option value="customer-first-name">First Name</option>
                        <option value="customer-last-name">Last Name</option>
                        <option value="customer-birth-date">Date of Birth</option>
                        <option value="customer-amount-spent">Total Amount Spent</option>
                    </select>
                </div>
                <button id="entity-filter-button">Filter</button>
            </aside>

            <!-- table -->

            <div class="table-container">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Date of Birth</th>
                        <th>Total Amount Spent</th>
                    </tr>
                    {{{table}}}
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>