<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fresh Goods - Goods</title>
    <script src="/goods.js" charset="utf-8" defer></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class = "background-wrap">
    <!-- header -->
    <div class="image-container">
        <img src="header.png" alt="Fresh Goods" width="1200">
    </div>
    <div class = "title-tabs-container">
        <h1 class="title">Company Database</h1>
        <nav class="navbar">
            <ul class="navlist">
                <li class="navitem"><a href="/">Home</a></li>
                <li class="navitem"><a href="/customer">Manage Customers</a></li>
                <li class="navitem"><a href="/goods">Manage Goods</a></li>
                <li class="navitem"><a href="/orders">Manage Orders</a></li>
                <li class="navitem"><a href="/suppliers">Manage Suppliers</a></li>
                <li class="navitem"><a href="/suppliers-goods">Manage Suppliers-Goods</a></li>
            </ul>
        </nav>
    </div>

    <h1 class="table-header">Goods</h1>

    <div class = "contents">
        <aside class = "entity-field-container">

            <!-- insert and update -->

            <h2>Insert row</h2>

            <div class = "entity-input-container">
                <label for = "entity-price-input">Price</label>
                <div class = "entity-input-element">
                    <input type="number" id="entity-price-text" class="entity-price-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-location-input">Location</label>
                <div class = "entity-input-element">
                    <input type="text" id="entity-location-text" class="entity-location-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-expiration-date-input">Expiration Date</label>
                <div class = "entity-input-element">
                    <input type="date" id="entity-expiration-date-text" class="entity-expiration-date-input">
                </div>
            </div>

            <button id="entity-add-button">Add</button>

            <h2>Update row</h2>

            <div class = "entity-input-container">
                <label for = "entity-update-prompt">Enter ID to update</label>
                <div class = "entity-update-element">
                    <input type = "number" id = "entity-update-number" class = "entity-update-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-price-input">New Price</label>
                <div class = "entity-input-element">
                    <input type="number" id="entity-price-update" class="entity-price-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-location-input">New Location</label>
                <div class = "entity-input-element">
                    <input type="text" id="entity-location-update" class="entity-location-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-expiration-date-input">New Expiration Date</label>
                <div class = "entity-input-element">
                    <input type="date" id="entity-expiration-date-update" class="entity-expiration-date-input">
                </div>
            </div>

            <button id="entity-update-button">Update</button>
        </aside>

        <div class = "entity-table-container">

            <!-- filter -->

            <aside class="filter">
                <div class="filter-field-container">
                    <label for="entity-filter-input" class="filter-text-input">Match Filter</label>
                    <input type="text" id="entity-filter-input">
                </div>
                <div class="entity-input-container">
                    <select name="filter-dropdown" id="filter-dropdown-goods" class="filter-dropdown">
                        <option value="good-id">ID</option>
                        <option value="good-price">Price</option>
                        <option value="good-location">Location</option>
                        <option value="good-expire-date">Expiration Date</option>
                        <option value="good-order-id">Order ID</option>
                        <option value="good-supplier-id">Supplier ID</option>
                    </select>
                </div>
                <button id="entity-filter-button">Filter</button>
            </aside>

            <!-- table -->

            <div class="table-container">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Price</th>
                        <th>Location</th>
                        <th>Expiration Date</th>
                        <th>Order ID</th>
                        <th>Supplier ID</th>
                    </tr>
                    {{{table}}}
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>