<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fresh Goods database</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class = "background-wrap">
    <!--header-->
    <div class="image-container">
        <img src="header.png" alt="Fresh Goods" width="1200">
    </div>
    <div class = "title-tabs-container">
        <h1 class="title">Company Database</h1>
        <nav class="navbar">
            <ul class="navlist">
                <li class="navitem"><a href="/">Home</a></li>
                <li class="navitem"><a href="/customer">Manage Customers</a></li>
                <li class="navitem"><a href="/goods">Manage Goods</a></li>
                <li class="navitem"><a href="/orders">Manage Orders</a></li>
                <li class="navitem"><a href="/suppliers">Manage Suppliers</a></li>
                <li class="navitem"><a href="/suppliers-goods">Manage Suppliers-Goods</a></li>
            </ul>
        </nav>
    </div>
    <!-- welcome text -->
    <h1 class="table-header">Welcome!</h1>
    <div class="contents">
        <p>
            A local grocery store called “Fresh Goods” has sold $100,000,000 in orders this past year, 5% lower than the previous year, and 10% lower than the year before that. In the last few years, Fresh Goods purchased items from suppliers that never got purchased by customers, leading to financial losses. To resolve this, Fresh Goods needs a database to track future orders so they can make better financial decisions. It needs to record information regarding what kind of goods are available, which goods are sold, information about who supplies the goods for their inventory, and keeping track of customer orders over time so past years’ orders can be viewed. Fresh Goods also require a website that retrieves information from said database that can be accessed on all their devices. Staff members of Fresh Goods will interact with the database through the business employee portal (website). It is up to the user’s decision whether to purchase products from a supplier or not; the database will not make this decision automatically. The purchase software automatically updates the database upon a customer purchasing goods, or when a supplier supplies goods to the store. This information will be used in deciding future financial options for business growth.
        </p>
        <p>
            Image credits: <br>
            <a href="https://www.pics4learning.com/details.php?img=dsc_0028.jpg">https://www.pics4learning.com/details.php?img=dsc_0028.jpg</a>
        </p>
    </div>
</div>
</body>
</html>