<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fresh Goods database</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class = "background-wrap">
    <!--header-->
    <div class="image-container">
        <img src="header.png" alt="Fresh Goods" width="1200">
    </div>
    <div class = "title-tabs-container">
        <h1 class="title">Company Database</h1>
        <nav class="navbar">
            <ul class="navlist">
                <li class="navitem"><a href="/">Home</a></li>
                <li class="navitem"><a href="customer">Manage Customers</a></li>
                <li class="navitem"><a href="goods">Manage Goods</a></li>
                <li class="navitem"><a href="orders">Manage Orders</a></li>
                <li class="navitem"><a href="suppliers">Manage Suppliers</a></li>
                <li class="navitem"><a href="suppliers-goods">Manage Suppliers-Goods</a></li>
            </ul>
        </nav>
    </div>
    <!-- welcome text -->
    <h1 class="table-header">Welcome!</h1>
    <div class="contents">
        <p>
            Welcome to the Fresh Goods database web interface! This will be our website for interfacing with the
            database, once it exists. Currently, this page only has some sample data and samples for input fields
            and deletion buttons.
        </p>
        <p>
            Image credits: <br>
            <a href="https://www.pics4learning.com/details.php?img=dsc_0028.jpg">https://www.pics4learning.com/details.php?img=dsc_0028.jpg</a>
        </p>
    </div>
</div>
</body>
</html>