<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fresh Goods - Orders</title>
    <script src="/orders.js" charset="utf-8" defer></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class = "background-wrap">
    <!-- header -->
    <div class = "image-container">
        <img src="header.png" alt="Fresh Goods" width="1200">
    </div>
    <div class = "title-tabs-container">
        <h1 class="title">Company Database</h1>
        <nav class="navbar">
            <ul class="navlist">
                <li class="navitem"><a href="/">Home</a></li>
                <li class="navitem"><a href="/customer">Manage Customers</a></li>
                <li class="navitem"><a href="/goods">Manage Goods</a></li>
                <li class="navitem"><a href="/orders">Manage Orders</a></li>
                <li class="navitem"><a href="/suppliers">Manage Suppliers</a></li>
                <li class="navitem"><a href="/suppliers-goods">Manage Suppliers-Goods</a></li>
            </ul>
        </nav>
    </div>

    <h1 class="table-header">Orders</h1>

    <div class = "contents">

        <!-- insert & update -->

        <aside class = "entity-field-container">

            <h2>Insert row</h2>

            <div class = "entity-input-container">
                <label for = "entity-purchase-date-input">Purchase Date</label>
                <div class = "entity-input-element">
                    <input type="date" id="entity-purchase-date-text" class="entity-purchase-date-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-customer-id-input">Customer ID</label>
                <div class = "entity-input-element">
                    <input type="text" id="entity-customer-id-text" class="entity-customer-id-input">
                </div>
            </div>

            <button type = "button" class = "add-button">Add</button>

            <h2>Update row</h2>

            <div class = "entity-input-container">
                <label for = "entity-update-prompt">Enter ID to update</label>
                <div class = "entity-update-element">
                    <input type = "number" id = "entity-update-number" class = "entity-update-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-purchase-date-input">New Purchase Date</label>
                <div class = "entity-input-element">
                    <input type="date" id="entity-purchase-date-text" class="entity-purchase-date-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-customer-id-input">New Customer ID</label>
                <div class = "entity-input-element">
                    <input type="text" id="entity-customer-id-text" class="entity-customer-id-input">
                </div>
            </div>

            <button type = "button" class = "update-button">Update</button>
        </aside>

        <div class = "entity-table-container">

            <!-- filter -->

            <aside class="filter">
                <div class="filter-field-container">
                    <label for="entity-filter-input" class="filter-text-input">Match Filter</label>
                    <input type="text" id="entity-filter-input">
                </div>
                <div class="entity-input-container">
                    <select name="filter-dropdown" id="filter-dropdown-orders" class="filter-dropdown">
                        <option value="order-id">ID</option>
                        <option value="order-date">Date</option>
                        <option value="order-customer-id">Customer ID</option>
                    </select>
                </div>
                <button id="entity-filter-button">Filter</button>
            </aside>

            <!-- table -->

            <div class="table-container">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Customer ID</th>
                    </tr>
                    {{{table}}}
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>