<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fresh Goods - Suppliers-Goods</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class = "background-wrap">
    <!-- header -->
    <div class="image-container">
        <img src="header.png" alt="Fresh Goods" width="1200">
    </div>
    <div class = "title-tabs-container">
        <h1 class="title">Company Database</h1>
        <nav class="navbar">
            <ul class="navlist">
                <li class="navitem"><a href="/">Home</a></li>
                <li class="navitem"><a href="customer">Manage Customers</a></li>
                <li class="navitem"><a href="goods">Manage Goods</a></li>
                <li class="navitem"><a href="orders">Manage Orders</a></li>
                <li class="navitem"><a href="suppliers">Manage Suppliers</a></li>
                <li class="navitem"><a href="suppliers-goods">Manage Suppliers-Goods</a></li>
            </ul>
        </nav>
    </div>

    <h1 class="table-header">Suppliers-Goods</h1>

    <div class = "contents">
        <aside class = "entity-field-container">

            <!-- insert & update -->

            <h2>Insert row</h2>

            <div class = "entity-input-container">
                <label for = "entity-supplier-id-input">Supplier ID</label>
                <div class = "entity-input-element">
                    <input type="number" id="entity-supplier-id-text" class="entity-supplier-id-input">
                </div>
            </div>

            <div class = "entity-input-container">
                <label for = "entity-item-id-input">Item ID</label>
                <div class = "entity-input-element">
                    <input type="text" id="entity-item-id-text" class="entity-item-id-input">
                </div>
            </div>

            <button type = "button" class = "add-button">Add</button>

            <!-- not necessary? -->
<!--            <h2>Update row</h2>-->

<!--            <div class = "entity-input-container">-->
<!--                <label for = "entity-update-prompt">Enter </label>-->
<!--                <div class = "entity-update-element">-->
<!--                    <input type = "number" id = "entity-update-number" class = "entity-update-input">-->
<!--                </div>-->
<!--            </div>-->

<!--            <button type = "button" class = "update-button">Update</button>-->
        </aside>

        <div class = "entity-table-container">

            <!-- filter -->

            <aside class="filter">
                <div class="filter-field-container">
                    <label for="entity-filter-input" class="filter-text-input">Match Filter</label>
                    <input type="text" id="entity-filter-input">
                </div>
                <div class="entity-input-container">
                    <select name="filter-dropdown" id="filter-dropdown-goods" class="filter-dropdown">
                        <option value="suppliers-goods-good-id">Good ID</option>
                        <option value="suppliers-goods-supplier-id">Supplier ID</option>
                    </select>
                </div>
            </aside>

            <!-- table -->

            <div class="table-container">
                <table>
                    <tr>
                        <th>Good ID</th>
                        <th>Supplier ID</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>
                            <button type ="button" id="remove-suppliers-goods-1" class ="remove-button">remove</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>